* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #9E9E9E;
}

html {
    height: 100%;
    background-color: #2A2A2A;
    background-image: url(../assets/images/bg.png);
}

body {
    width: 60%;
    background-color: #1B1B1B;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

header {
    width: 60%;
    background-color: #131313;
    position: fixed;
    display: block;
    opacity: 0.8;
}

header * {
    display: inline-block;
    vertical-align: middle;
}

header a {
    text-decoration: none;
    color: #9E9E9E;
    height: 100%;
}

#titleContainer {
    margin: auto;
    padding: 5px 20px;
}

#titleContainer * {
    display: inline-block;
    vertical-align: middle;
}

#titleContainer a {
    font-size: 35px;
}

.navigationElement {
    font-size: 20px;
    padding: 20px 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.navigationElement:hover {
    background-color: #000;
}


#helpForm {
    position: absolute;
    background-color: #1B1B1B;
    top: 30%;
    left: 38%;
    margin: auto;
    border-radius: 10px;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}
  
.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}
  
.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}
  
.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}
  
.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
.field-container {
    position: relative;
}
  
.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security";
    max-width: 400px;
    padding: 20px;
    color: #707070;
}
  
label {
    padding-bottom: 5px;
    font-size: 13px;
}
  
input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: #2B2b2b;
    color: #D3D3D3;
}
  
.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

#donateBtn {
    margin-left: 40%;
    font-size: 20px;
    color: #FFF;
    border: #000;
    cursor: pointer;
    background-image: linear-gradient(120deg, #ff0000 10%, #F3B304);
}

#donateBtn:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
}