* {
    margin: 0;
    padding: 0;
}

#container {
    height: 217px;
}

.block {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

a.block {
    background: blue;
}

#prev {
    width: 100px;
}

#next {
    width: 100px;
}

#calendar {
    border-spacing: 0;
}

#calendarTitle {
    border: 1px black solid;
    width: 700px;
    height: 50px;
}

#calendar th {
    border: 1px black solid;
    width: 40px;
}

#calendar td {
    border: 1px black solid;
    width: 40px;
    text-align: right;
}