* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', serif;
}

input {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

.oneMonth {
    border-spacing: 0;
}

.monthTitle, .calendarTitle {
    border: 1px black solid;
    width: 700px;
    height: 50px;
}

.calendarTitle {
    font-size: 40px;
}

.monthTitle {
    color: #FFF;
    background: #7A7A7A;
}

.oneMonth th, .oneMonth td {
    border: 1px black solid;
    width: 24px;
    height: 24px;
    text-align: center;
}

.oneMonth tr th:nth-child(6), .oneMonth tr th:nth-child(7),
.oneMonth tr td:nth-child(6), .oneMonth tr td:nth-child(7) {
    color: red;
    font-weight: bold;
    background: rgba(255, 8, 0, 0.4);
}

.otherMonth {
    opacity: 0.5;
    background: #BEBEBE;
}